<div style="padding: 1.5rem;text-align: center;background-color: rgb(240,242,244);height: 100%;font-family: sans-serif;font-size:18px;">
   <img src="https://lh3.googleusercontent.com/--YJ4nbHjR7Q/WvcE3lUsP8I/AAAAAAAADU8/YyTMVEemEtMrWUCZjF15Wouj4F97zVHzACL0BGAs/w530-d-h95-n-rw/open-profit.PNG" alt="Logo" style="width: 200px;max-width: 100%;margin-bottom: 1rem;"> 
   <div style="border-radius:4px;width: 40%;min-width:300px;background-color:white;color: black;padding: 1.5rem 1.8rem;text-align: center;margin: auto;">
      <h3>Hello USER_NAME!</h3>
      <p style="text-align: left;">Thank you for your interest with Open Profit! In order to active your account please click the button below to verify your email address:</p>
      <a href="VERIFICATION_LINK" style="background-color:DeepSkyBlue;border-radius: 4px;margin: auto;color: white;text-align: center;width: 200px;display: block;padding: 1rem;text-decoration: none;cursor: pointer;"><b>Verify Your Email</b></a>
      <p style="text-align: left;">If the button does not work, copy paste this url into your browser:
      <a href="VERIFICATION_LINK" style="color:DeepSkyBlue;border-radius: 4px;margin: auto;text-align: left;display: inline-block;text-decoration: none;cursor: pointer;">
         <br><br>VERIFICATION_LINK</a>
      </p>
      <p style="text-align: left;">For Additional help, visit our Support Center.</p>
      <hr style="height: 2px;background-color:DeepSkyBlue;border: none;margin-left: -1.8rem;margin-right: -1.8rem;"/>
      <div style="text-align: center;">
         <p>Copyright &copy; 2018 openprofit.com</p>
      </div>
   </div>
</div>